# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SimpleLocale.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Desktop\SimpleLocale\.idea\.idea.SimpleLocale\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
